/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */


.home_page {
  padding-right: 100px;
  padding-left: 100px;
  margin-right: 100px;
  margin-left: 100px;;
}

.questionnaire {
  padding-right: 300px;
}
